bin/
obj/
/packages/
riderModule.iml
/_ReSharper.Caches/

# ignore appsettings configuration files
/appsettings.Development.json
/appsettings.Production.json
/google-sheets-settings.json

#ignore IDE files
.idea/*

